<p style="float:left; font-size:30px;"><%= current_user.email %>님 환영합니다.</p>
<button type="button" class="btn btn-danger" onclick="location.href='/users/sign_out'">로그아웃</button>
<div class="container" style="margin-top:30px;">
    <h1 style="float:left; padding-left: 60px; margin-bottom:30px;">게시판</h1>
    <button style="float:right" type="button" class="btn btn-primary" onclick="location.href='/write'">글쓰기</button>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성시간</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @all_posts.each do |p|%>
          <tr>
            <th scope="row"><%= p.id %>번</th>
            <td><a href="/sangse/<%= p.id %>"><%= p.title1 %></a></td>
            <td><%= p.user.email %></td>
            <td><%= p.created_at %></td>
            <td>
              <button type="button" class="btn btn-warning" onclick="location.href='/fix/<%= p.id %>'">수정</button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-danger" onclick="location.href='/destroy/<%= p.id %>'">삭제</button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @all_posts %>
</div>